In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df_final=pd.read_csv('data/output/final_Data.csv')
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 357960 entries, 0 to 357959
Data columns (total 32 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   gvkey               357960 non-null  int64
 1   datadate            357960 non-null  object
 2   fyear               357692 non-null  float64
 3   cusip               357960 non-null  object
 4   ipodate             153325 non-null  object
 5   conm                357960 non-null  object
 6   at                  288230 non-null  float64
 7   sale                252854 non-null  float64
 8   ebit                247325 non-null  float64
 9   re                  280532 non-null  float64
 10  reuna               242654 non-null  float64
 11  wcap                206246 non-null  float64
 12  mkvalt              156879 non-null  float64
 13  lt                  287466 non-null  float64
 14  gsector             306857 non-null  float64
 15  indfmt              357960 non-null  object
 16  liquidity           206195 non-null  float64
 17  re/at               280511 non-null  float64
 18  profitability       247228 non-null  float64
 19  mkvalt/lt           156623 non-null  float64
 20  AssetTurnoverRatio  252619 non-null  float64
 21  issuer              357960 non-null  object
 22  issue               357960 non-null  object
 23  issuer+issue        357960 non-null  object
 24  check_digit         357960 non-null  int64
 25  PERMNO              357960 non-null  int64
 26  DLSTCD              357960 non-null  int64
 27  HCOMNAM             357960 non-null  object
 28  CUSIP               357960 non-null  object
 29  HEXCD               357960 non-null  int64
 30  BEGDAT              357960 non-null  object
 31  ENDDAT              357960 non-null  object
dtypes: float64(15), int64(5), object(12)
memory usage: 87.4+ MB

/var/folders/2_/bhldy0qj4k5dfrybcw8kkm6m0000gn/T/ipykernel_50646/2593394155.py:1: DtypeWarning: Columns (22) have mixed types. Specify dtype option on import or set low_memory=False.
  df_final=pd.read_csv('data/output/final_Data.csv')

In [4]:
df_final_data_copy = df_final.copy()
df_final_data_copy.drop(columns=['reuna','issuer','issue','check_digit','issuer+issue','gvkey'], inplace=True)
df_final_data_copy['datadate']= pd.to_datetime(df_final_data_copy['datadate'])
df_final_data_copy['ipodate']= pd.to_datetime(df_final_data_copy['ipodate'])
df_final_data_copy['ENDDAT']= pd.to_datetime(df_final_data_copy['ENDDAT'])
df_final_data_copy = df_final_data_copy.dropna(subset=['fyear'])
df_final_data_copy['fyear'] = df_final_data_copy['fyear'].astype(int)
columns_of_ratios = ['liquidity','re/at','profitability','mkvalt/lt','AssetTurnoverRatio']
df_final_data_copy.shape

(357692, 26)

In [5]:
df_final_data_copy['ipodate'].isna().sum()

204485

In [ ]:
df_left_censored_data = df_final_data_copy[df_final_data_copy['ipodate'].isna()]
df_final_data_copy = df_final_data_copy[~df_final_data_copy['ipodate'].isna()]
df_final_data_copy.shape

In [6]:
df_final_data_copy['cusip'].nunique()

27875

In [ ]:
print("No of records with fyear less than ipodate year:")
print(df_final_data_copy[df_final_data_copy['fyear']<df_final_data_copy['ipodate'].dt.year].shape)
print("No of records with fyear greater than or equal to ipodate year:")
print(df_final_data_copy[df_final_data_copy['fyear']>=df_final_data_copy['ipodate'].dt.year].shape)
df_final_data_copy = df_final_data_copy[df_final_data_copy['fyear']>=df_final_data_copy['ipodate'].dt.year]
df_final_data_copy.shape

(25671, 26)
(127536, 26)

(127536, 26)

In [ ]:
print("no of records with fyear less than enddate year i.e. Bankruptcy:")
print(df_final_data_copy[df_final_data_copy['fyear']<=df_final_data_copy['ENDDAT'].dt.year].shape)
print("no of records with fyear greater than enddate year i.e. Bankruptcy:")
print(df_final_data_copy[df_final_data_copy['fyear']>df_final_data_copy['ENDDAT'].dt.year].shape)
df_final_data_copy = df_final_data_copy[df_final_data_copy['fyear']<=df_final_data_copy['ENDDAT'].dt.year]
df_final_data_copy.shape

(123981, 26)
(3555, 26)

(123981, 26)

In [ ]:
print("No of records with ipodate between 2010-2023:")
print(df_final_data_copy[df_final_data_copy['ipodate'].between('2010-01-01','2023-12-31')].shape)
print("No of records with ipodate not between 2010-2023:")
print(df_final_data_copy[~df_final_data_copy['ipodate'].between('2010-01-01','2023-12-31')].shape)
df_final_data_copy=df_final_data_copy[df_final_data_copy['ipodate'].between('2010-01-01','2023-12-31')]
df_final_data_copy=df_final_data_copy[df_final_data_copy['ipodate'].between('2010-01-01','2023-12-31')]
df_final_data_copy.shape

(17229, 26)
(106752, 26)

(17229, 26)

In [ ]:
print("No of records with ENDDAT >= ipodate:")
print(df_final_data_copy[df_final_data_copy['ENDDAT']>=df_final_data_copy['ipodate']].shape)
print("No of records with ENDDAT < ipodate:")
print(df_final_data_copy[df_final_data_copy['ENDDAT']<df_final_data_copy['ipodate']].shape)
df_final_data_copy =df_final_data_copy[df_final_data_copy['ENDDAT']>=df_final_data_copy['ipodate']]
df_final_data_copy.shape

(17229, 26)
(0, 26)

(17229, 26)

In [95]:
df_financial_Data = df_final_data_copy[df_final_data_copy['indfmt']=='FS']
df_industrial_data  = df_final_data_copy[df_final_data_copy['indfmt']=='INDL']
print("financial data",df_financial_Data.shape)
print("Industrial data",df_industrial_data.shape)

financial data (1446, 26)
Industrial data (15783, 26)

In [17]:
df_industrial_data

,datadate,fyear,cusip,ipodate,conm,at,sale,ebit,re,wcap,...,profitability,mkvalt/lt,AssetTurnoverRatio,PERMNO,DLSTCD,HCOMNAM,CUSIP,HEXCD,BEGDAT,ENDDAT
12207,2020-12-31,2020,87969B101,2020-11-19,TELOS CORP/MD,183.817,179.917,6.027,-143.799,105.168,...,0.032788,NaN,0.978783,20173,100,TELOS CORP,87969B10,3,2020-11-19,2024-12-31
12208,2021-12-31,2021,87969B101,2020-11-19,TELOS CORP/MD,246.081,242.433,-41.464,-187.004,140.773,...,-0.168497,15.640195,0.985176,20173,100,TELOS CORP,87969B10,3,2020-11-19,2024-12-31
12209,2022-12-31,2022,87969B101,2020-11-19,TELOS CORP/MD,237.397,216.887,-51.083,-240.460,122.461,...,-0.215180,5.276954,0.913605,20173,100,TELOS CORP,87969B10,3,2020-11-19,2024-12-31
12210,2023-12-31,2023,87969B101,2020-11-19,TELOS CORP/MD,208.699,145.378,-39.183,-274.887,100.793,...,-0.187749,5.158886,0.696592,20173,100,TELOS CORP,87969B10,3,2020-11-19,2024-12-31
16468,2013-12-31,2013,68234X102,2013-07-18,ONCOMED PHARMACEUTICALS,333.685,37.779,-23.899,-174.412,256.727,...,-0.071621,4.025872,0.113218,14055,252,ONCOMED PHARMACEUTICALS INC,68234X10,3,2013-07-18,2019-04-22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
357945,2023-12-31,2023,G2415A113,2022-02-02,COOL COMPANY LTD,2056.943,379.010,200.893,172.960,-139.077,...,0.097666,0.546323,0.184259,23773,100,COOL CO LTD,G2415A11,1,2023-03-17,2024-12-31
357947,2022-12-31,2022,405552100,2022-07-18,HALEON PLC,41948.594,13082.804,2913.448,19566.371,-374.724,...,0.069453,NaN,0.311877,23209,100,HALEON PLC,40555210,1,2022-07-22,2024-12-31
357948,2023-12-31,2023,405552100,2022-07-18,HALEON PLC,43379.259,14396.488,3181.953,21035.533,226.736,...,0.073352,NaN,0.331875,23209,100,HALEON PLC,40555210,1,2022-07-22,2024-12-31
357952,2022-12-31,2022,86803S106,2022-12-30,SUPER HI INTERNATIONAL HOLDI,576.112,558.225,6.665,-254.677,36.166,...,0.011569,NaN,0.968952,25134,100,SUPER HI INTERNATIONAL HLDG LTD,86803S10,3,2024-05-17,2024-12-31
357953,2023-12-31,2023,86803S106,2022-12-30,SUPER HI INTERNATIONAL HOLDI,576.883,686.362,35.404,-224.397,90.391,...,0.061371,NaN,1.189777,25134,100,SUPER HI INTERNATIONAL HLDG LTD,86803S10,3,2024-05-17,2024-12-31

In [18]:
df_industrial_data['gsector'].isna().sum()

376

In [98]:
# Converting the gsector to integer
df_industrial_data.loc[:,'gsector'] = df_industrial_data.loc[:,'gsector'].replace([np.inf, -np.inf], np.nan)
df_industrial_data.loc[:,'gsector'] = df_industrial_data.loc[:,'gsector'].fillna(0)
df_industrial_data.loc[:,'gsector'] = df_industrial_data.loc[:,'gsector'].astype(int)

In [20]:
df_industrial_data = df_industrial_data.sort_values(by=['cusip','fyear'],ascending= [True,True] )

In [99]:
df_industrial_data.to_csv('data/output/df_base_data.csv',index=False)

### Check Point 1:  We read the base data set from here and process it futher

In [100]:
df_industrial_data = pd.read_csv('data/output/df_base_data.csv')

In [105]:
df_industrial_data['datadate']= pd.to_datetime(df_industrial_data['datadate'])
df_industrial_data['ipodate']= pd.to_datetime(df_industrial_data['ipodate'])
df_industrial_data['ENDDAT']= pd.to_datetime(df_industrial_data['ENDDAT'])
df_industrial_data['fyear'] = df_industrial_data['fyear'].astype(int)
df_industrial_data['gsector'] = df_industrial_data['gsector'].astype(int)

In [60]:
df_industrial_data['fyear'].value_counts().sort_index()

fyear
2010     159
2011     294
2012     424
2013     603
2014     820
2015     917
2016     943
2017    1056
2018    1198
2019    1311
2020    1521
2021    1958
2022    1982
2023    1936
2024     661
Name: count, dtype: int64

In [ ]:
print(" No  of unique companies in industrial data:")
df_industrial_data['cusip'].nunique()

2892

In [96]:
print("No of rows with all 5 ratios as NAN,4 ratios as NAN,3 ratios as NAN,2 ratios as NAN,1 ratio as NAN,0 ratio as NAN")
nans = df_industrial_data[columns_of_ratios].isna().sum(axis=1)
nans.value_counts().sort_index()

No of rows with all 5 ratios as NAN,4 ratios as NAN,3 ratios as NAN,2 ratios as NAN,1 ratio as NAN,0 ratio as NAN

0    10587
1     4390
2      454
3       16
4        1
5      335
Name: count, dtype: int64

In [107]:
df_industrial_data['censored'] = np.where(df_industrial_data['ENDDAT'].dt.year >= 2024, 0, 1)

In [119]:
df_industrial_data['survival_time_in_Days'] =  np.where(df_industrial_data['censored']==1, df_industrial_data['ENDDAT'] - df_industrial_data['ipodate'],pd.to_datetime('2023-12-31') - df_industrial_data['ipodate'])
df_industrial_data['survival_time_in_years'] = np.where(df_industrial_data['censored']==1, df_industrial_data['ENDDAT'].dt.year - df_industrial_data['ipodate'].dt.year,pd.to_datetime('2023-12-31').year - df_industrial_data['ipodate'].dt.year)

In [120]:
df_industrial_data

,datadate,fyear,cusip,ipodate,conm,at,sale,ebit,re,wcap,...,DLSTCD,HCOMNAM,CUSIP,HEXCD,BEGDAT,ENDDAT,censored,survival_time,survival_time_in_years,survival_time_in_Days
0,2020-12-31,2020,87969B101,2020-11-19,TELOS CORP/MD,183.817,179.917,6.027,-143.799,105.168,...,100,TELOS CORP,87969B10,3,2020-11-19,2024-12-31,0,1137 days,3,1137 days
1,2021-12-31,2021,87969B101,2020-11-19,TELOS CORP/MD,246.081,242.433,-41.464,-187.004,140.773,...,100,TELOS CORP,87969B10,3,2020-11-19,2024-12-31,0,1137 days,3,1137 days
2,2022-12-31,2022,87969B101,2020-11-19,TELOS CORP/MD,237.397,216.887,-51.083,-240.460,122.461,...,100,TELOS CORP,87969B10,3,2020-11-19,2024-12-31,0,1137 days,3,1137 days
3,2023-12-31,2023,87969B101,2020-11-19,TELOS CORP/MD,208.699,145.378,-39.183,-274.887,100.793,...,100,TELOS CORP,87969B10,3,2020-11-19,2024-12-31,0,1137 days,3,1137 days
4,2013-12-31,2013,68234X102,2013-07-18,ONCOMED PHARMACEUTICALS,333.685,37.779,-23.899,-174.412,256.727,...,252,ONCOMED PHARMACEUTICALS INC,68234X10,3,2013-07-18,2019-04-22,1,2104 days,6,2104 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15778,2023-12-31,2023,G2415A113,2022-02-02,COOL COMPANY LTD,2056.943,379.010,200.893,172.960,-139.077,...,100,COOL CO LTD,G2415A11,1,2023-03-17,2024-12-31,0,697 days,1,697 days
15779,2022-12-31,2022,405552100,2022-07-18,HALEON PLC,41948.594,13082.804,2913.448,19566.371,-374.724,...,100,HALEON PLC,40555210,1,2022-07-22,2024-12-31,0,531 days,1,531 days
15780,2023-12-31,2023,405552100,2022-07-18,HALEON PLC,43379.259,14396.488,3181.953,21035.533,226.736,...,100,HALEON PLC,40555210,1,2022-07-22,2024-12-31,0,531 days,1,531 days
15781,2022-12-31,2022,86803S106,2022-12-30,SUPER HI INTERNATIONAL HOLDI,576.112,558.225,6.665,-254.677,36.166,...,100,SUPER HI INTERNATIONAL HLDG LTD,86803S10,3,2024-05-17,2024-12-31,0,366 days,1,366 days
15782,2023-12-31,2023,86803S106,2022-12-30,SUPER HI INTERNATIONAL HOLDI,576.883,686.362,35.404,-224.397,90.391,...,100,SUPER HI INTERNATIONAL HLDG LTD,86803S10,3,2024-05-17,2024-12-31,0,366 days,1,366 days

In [122]:
print("Value counts of survival time in years i.e. No of records with survival time in years:")
print(df_industrial_data['survival_time_in_years'].value_counts().sort_index(ascending=False).cumsum())
print("No of unique companies with survival time in years:")
print(df_industrial_data.groupby(['survival_time_in_years'])['cusip'].nunique().sort_index(ascending=False).cumsum())

Value counts of survival time in years i.e. No of records with survival time in years:
survival_time_in_years
13      900
12     1596
11     2646
10     3869
9      5471
8      6750
7      7733
6      9210
5     10674
4     11894
3     13291
2     15316
1     15640
0     15783
Name: count, dtype: int64
No of unique companies with survival time in years:
survival_time_in_years
13      62
12     114
11     200
10     310
9      470
8      617
7      743
6      962
5     1219
4     1477
3     1859
2     2586
1     2778
0     2892
Name: cusip, dtype: int64

# Filtering on a Specific Sector

In [123]:
df_industrial_data['gsector'].value_counts()

gsector
35    4423
40    2336
45    2274
25    1755
20    1235
10    1017
50     764
60     675
30     439
0      376
15     369
55     120
Name: count, dtype: int64

In [71]:
df_35 = df_industrial_data[df_industrial_data['gsector']==35]
df_35.shape

(4423, 29)

In [72]:
print("Number of NaN values in each row for the columns of ratios:")
print((df_35[columns_of_ratios].isna().sum(axis=1)).value_counts().sort_index())
print("fyear value counts:")
print(df_35['fyear'].value_counts().sort_index())
print("cusip unique values:")
print(df_35['cusip'].nunique())
print("Survival time in years value counts:")
print(df_35['survival_time_in_years'].value_counts().sort_index(ascending=False).cumsum())
print("survival times in years value counts: and cusio unique values")
print(df_35.groupby(['survival_time_in_years'])['cusip'].nunique().sort_index(ascending=False).cumsum())

Number of NaN values in each row for the columns of ratios:
0    4102
1     276
2      13
5      32
Name: count, dtype: int64
fyear value counts:
fyear
2010     23
2011     37
2012     49
2013     91
2014    180
2015    229
2016    245
2017    275
2018    336
2019    390
2020    494
2021    664
2022    666
2023    615
2024    129
Name: count, dtype: int64
cusip unique values:
867
Survival time in years value counts:
survival_time_in_years
14     116
13     168
12     278
11     537
10    1069
9     1445
8     1795
7     2158
6     2593
5     3013
4     3531
3     4207
2     4380
1     4423
Name: count, dtype: int64
survival times in years value counts: and cusio unique values
survival_time_in_years
14      8
13     12
12     21
11     44
10     97
9     138
8     181
7     233
6     304
5     386
4     512
3     741
2     827
1     867
Name: cusip, dtype: int64

# imputing the data usinf soft impute

In [73]:
# imputing  the data
import numpy as np
from py_soft_impute.soft_impute import SoftImpute
df_35_to_impute = df_35[columns_of_ratios]
df_35_to_impute= df_35_to_impute.replace([np.inf, -np.inf], np.nan)
df_35_to_impute = df_35_to_impute.fillna(0)

clf = SoftImpute(J=2, lambda_=0.0)
fit = clf.fit(df_35_to_impute.values)
imputed_array = clf.predict(df_35_to_impute.values)
imputed_array

array([[ 7.57443556e-02, -4.37434074e-01, -5.35528308e-02,
         1.26471293e+01,  1.60071049e-02],
       [-4.74466180e-03, -9.20600789e-01, -6.85649359e-02,
         4.16910574e+00,  9.67188580e-03],
       [-2.16303180e-03, -1.87390456e+00, -1.41580856e-01,
         9.51121182e+00,  2.07838620e-02],
       ...,
       [-1.40632626e-01, -3.89114463e+00, -2.57383759e-01,
         1.13300891e+00,  2.32397513e-02],
       [-2.29711363e-01, -6.63630430e+00, -4.41690683e-01,
         3.31840917e+00,  4.11180630e-02],
       [-1.22941348e-01, -3.71843721e+00, -2.49038507e-01,
         2.64838657e+00,  2.38833237e-02]])

In [77]:
df_new=pd.DataFrame(imputed_array, columns=columns_of_ratios)
df_35_imputed= df_35.copy()
df_35_imputed.iloc[:,14:19] = df_new

In [78]:
df_35_imputed[columns_of_ratios].isna().sum()

liquidity             0
re/at                 0
profitability         0
mkvalt/lt             0
AssetTurnoverRatio    0
dtype: int64

In [80]:
df_35_6 = df_35_imputed[df_35_imputed['survival_time_in_years']<=6]

In [126]:
print("Printing years of survival time and no of unique companies survived ")
dict_35_6 = {}
count=0
for x in (df_35_6.groupby('cusip')['fyear'].unique()):
    #sorting the values in the list x
    x.sort()
    set_x = tuple(x)  # Convert set to tuple
    if set_x not in dict_35_6:
        dict_35_6[set_x] = 1
    else:
        dict_35_6[set_x] += 1     
dict_35_6

Printing years of survival time and no of unique companies survived

{(2021, 2022, 2023): 145,
 (2020, 2021, 2022, 2023): 77,
 (2014, 2015, 2016, 2017, 2018): 6,
 (2023,): 21,
 (2022, 2023): 39,
 (2019, 2020, 2021, 2022, 2023, 2024): 16,
 (2014, 2015): 6,
 (2018, 2019, 2020, 2021, 2022, 2023): 42,
 (2010, 2011, 2012, 2013, 2014, 2015): 3,
 (2015, 2016): 4,
 (2019, 2020, 2021, 2022, 2023): 40,
 (2015, 2016, 2017, 2018, 2019): 3,
 (2017, 2018, 2019): 1,
 (2020, 2021): 6,
 (2017, 2018, 2019, 2020, 2021): 3,
 (2013,): 3,
 (2016, 2017, 2018, 2019): 2,
 (2020, 2021, 2022, 2023, 2024): 23,
 (2021, 2022, 2023, 2024): 18,
 (2020, 2021, 2022): 13,
 (2021, 2022): 23,
 (2021,): 6,
 (2018, 2019, 2020, 2021, 2022): 7,
 (2013, 2014, 2015, 2016, 2017, 2018): 2,
 (2022, 2023, 2024): 5,
 (2018, 2019, 2020, 2021, 2022, 2023, 2024): 13,
 (2014, 2015, 2016, 2017): 8,
 (2017, 2018, 2019, 2020, 2021, 2022): 3,
 (2019, 2020, 2021, 2022): 6,
 (2016, 2017, 2018): 1,
 (2014,): 4,
 (2016, 2017): 2,
 (2011, 2012, 2013, 2014, 2015): 2,
 (2015,): 4,
 (2018, 2019, 2020): 4,
 (2013, 2014): 2,
 (2012, 2013, 2014, 2015): 1,
 (2019, 2020, 2021): 5,
 (2015, 2016, 2017, 2018, 2019, 2020): 3,
 (2010, 2011): 3,
 (2023, 2024): 5,
 (2017, 2018): 4,
 (2012, 2013): 2,
 (2010, 2011, 2012, 2013): 1,
 (2018, 2019): 5,
 (2018, 2019, 2020, 2021): 4,
 (2013, 2014, 2015): 4,
 (2011, 2012): 1,
 (2013, 2014, 2015, 2016, 2017): 1,
 (2012, 2013, 2014): 2,
 (2015, 2016, 2017): 2,
 (2016, 2017, 2018, 2019, 2020): 1,
 (2011, 2012, 2013, 2014): 1,
 (2014, 2015, 2016): 6,
 (2019,): 2,
 (2011,): 1,
 (2010, 2011, 2012): 3,
 (2020,): 2,
 (2014, 2015, 2016, 2017, 2018, 2019): 1,
 (2016,): 1,
 (2018,): 2,
 (2019, 2020): 2,
 (2015, 2016, 2017, 2018): 2,
 (2013, 2014, 2015, 2016): 2,
 (2011, 2012, 2013): 1,
 (2011, 2012, 2013, 2014, 2015, 2016): 1}

## code to pivot the data to large table with single row per company and ratio X years , with years given as year1 and so without year names

In [82]:
df_35.columns

Index(['datadate', 'fyear', 'cusip', 'ipodate', 'conm', 'at', 'sale', 'ebit',
       're', 'wcap', 'mkvalt', 'lt', 'gsector', 'indfmt', 'liquidity', 're/at',
       'profitability', 'mkvalt/lt', 'AssetTurnoverRatio', 'PERMNO', 'DLSTCD',
       'HCOMNAM', 'CUSIP', 'HEXCD', 'BEGDAT', 'ENDDAT', 'survival_time',
       'survival_time_in_years', 'censored'],
      dtype='object')

In [ ]:
# Function to convert a data frame to wide table format data frame, with fyear-ratio as columns
def pivoting_data(df) -> pd.DataFrame:
    df_pivot = df.pivot_table(index=['cusip','conm','PERMNO','DLSTCD','HCOMNAM','HEXCD','BEGDAT','ENDDAT','ipodate','survival_time_in_years','survival_time','censored'], columns='fyear', values=['liquidity','re/at','profitability','mkvalt/lt','AssetTurnoverRatio'])
    df_pivot.columns= [f'{year}-{ratio}' for ratio, year in df_pivot.columns]
    # Reset the index to make 'Company' a column again
    df_pivot.reset_index(inplace=True)
    # Display the reshaped DataFrame
    return df_pivot

In [ ]:
# Pivoting df_35_imputed and  df_35_6 
df_35_pivot = pivoting_data(df_35_imputed)
df_35_6_pivot = pivoting_data(df_35_6)

In [84]:
df_35_pivot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 867 entries, 0 to 866
Data columns (total 87 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cusip                    867 non-null    object
 1   conm                     867 non-null    object
 2   PERMNO                   867 non-null    int64
 3   DLSTCD                   867 non-null    int64
 4   HCOMNAM                  867 non-null    object
 5   HEXCD                    867 non-null    int64
 6   BEGDAT                   867 non-null    object
 7   ENDDAT                   867 non-null    datetime64[ns]
 8   ipodate                  867 non-null    datetime64[ns]
 9   survival_time_in_years   867 non-null    int32
 10  survival_time            867 non-null    timedelta64[ns]
 11  censored                 867 non-null    int64
 12  2010-AssetTurnoverRatio  23 non-null     float64
 13  2011-AssetTurnoverRatio  37 non-null     float64
 14  2012-AssetTurnoverRatio  49 non-null     float64
 15  2013-AssetTurnoverRatio  91 non-null     float64
 16  2014-AssetTurnoverRatio  180 non-null    float64
 17  2015-AssetTurnoverRatio  229 non-null    float64
 18  2016-AssetTurnoverRatio  245 non-null    float64
 19  2017-AssetTurnoverRatio  275 non-null    float64
 20  2018-AssetTurnoverRatio  336 non-null    float64
 21  2019-AssetTurnoverRatio  390 non-null    float64
 22  2020-AssetTurnoverRatio  494 non-null    float64
 23  2021-AssetTurnoverRatio  664 non-null    float64
 24  2022-AssetTurnoverRatio  666 non-null    float64
 25  2023-AssetTurnoverRatio  615 non-null    float64
 26  2024-AssetTurnoverRatio  129 non-null    float64
 27  2010-liquidity           23 non-null     float64
 28  2011-liquidity           37 non-null     float64
 29  2012-liquidity           49 non-null     float64
 30  2013-liquidity           91 non-null     float64
 31  2014-liquidity           180 non-null    float64
 32  2015-liquidity           229 non-null    float64
 33  2016-liquidity           245 non-null    float64
 34  2017-liquidity           275 non-null    float64
 35  2018-liquidity           336 non-null    float64
 36  2019-liquidity           390 non-null    float64
 37  2020-liquidity           494 non-null    float64
 38  2021-liquidity           664 non-null    float64
 39  2022-liquidity           666 non-null    float64
 40  2023-liquidity           615 non-null    float64
 41  2024-liquidity           129 non-null    float64
 42  2010-mkvalt/lt           23 non-null     float64
 43  2011-mkvalt/lt           37 non-null     float64
 44  2012-mkvalt/lt           49 non-null     float64
 45  2013-mkvalt/lt           91 non-null     float64
 46  2014-mkvalt/lt           180 non-null    float64
 47  2015-mkvalt/lt           229 non-null    float64
 48  2016-mkvalt/lt           245 non-null    float64
 49  2017-mkvalt/lt           275 non-null    float64
 50  2018-mkvalt/lt           336 non-null    float64
 51  2019-mkvalt/lt           390 non-null    float64
 52  2020-mkvalt/lt           494 non-null    float64
 53  2021-mkvalt/lt           664 non-null    float64
 54  2022-mkvalt/lt           666 non-null    float64
 55  2023-mkvalt/lt           615 non-null    float64
 56  2024-mkvalt/lt           129 non-null    float64
 57  2010-profitability       23 non-null     float64
 58  2011-profitability       37 non-null     float64
 59  2012-profitability       49 non-null     float64
 60  2013-profitability       91 non-null     float64
 61  2014-profitability       180 non-null    float64
 62  2015-profitability       229 non-null    float64
 63  2016-profitability       245 non-null    float64
 64  2017-profitability       275 non-null    float64
 65  2018-profitability       336 non-null    float64
 66  2019-profitability       390 non-null    float64
 67  2020-profitability       494 non-null    float64
 68  2021-profitability       664 non-null    float64
 69  2022-profitability       666 non-null    float64
 70  2023-profitability       615 non-null    float64
 71  2024-profitability       129 non-null    float64
 72  2010-re/at               23 non-null     float64
 73  2011-re/at               37 non-null     float64
 74  2012-re/at               49 non-null     float64
 75  2013-re/at               91 non-null     float64
 76  2014-re/at               180 non-null    float64
 77  2015-re/at               229 non-null    float64
 78  2016-re/at               245 non-null    float64
 79  2017-re/at               275 non-null    float64
 80  2018-re/at               336 non-null    float64
 81  2019-re/at               390 non-null    float64
 82  2020-re/at               494 non-null    float64
 83  2021-re/at               664 non-null    float64
 84  2022-re/at               666 non-null    float64
 85  2023-re/at               615 non-null    float64
 86  2024-re/at               129 non-null    float64
dtypes: datetime64[ns](2), float64(75), int32(1), int64(4), object(4), timedelta64[ns](1)
memory usage: 586.0+ KB

In [ ]:
# As the Number of survival years, the years survived by the different companies are not same, 
# we are filling the NaN values with 0 for the years not survived by the companies or for the years before the ipo date of the comapanies
df_35_pivot.iloc[:,12:]= df_35_pivot.iloc[:,12:].replace([np.inf, -np.inf], np.nan)
df_35_pivot.iloc[:,12:] = df_35_pivot.iloc[:,12:].fillna(0)

In [86]:
df_35_pivot

,cusip,conm,PERMNO,DLSTCD,HCOMNAM,HEXCD,BEGDAT,ENDDAT,ipodate,survival_time_in_years,...,2015-re/at,2016-re/at,2017-re/at,2018-re/at,2019-re/at,2020-re/at,2021-re/at,2022-re/at,2023-re/at,2024-re/at
0,00091E109,ABSCI CORP,21604,100,ABSCI CORP,3,2021-07-22,2024-12-31,2021-07-22,3,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.437434,-0.920601,-1.873905,0.0
1,00091F304,ABVC BIOPHARMA INC,21828,100,A B V C BIOPHARMA INC,3,2021-08-03,2024-12-31,2021-08-03,3,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-2.959955,-5.735445,-4.531884,0.0
2,00166B105,ALX ONCOLOGY HOLDI INC,19542,100,ALX ONCOLOGY HOLDINGS INC,3,2020-07-17,2024-12-31,2020-07-17,4,...,0.000000,0.000000,0.000000,0.000000,0.000000,-0.318697,-0.513868,-1.057068,-2.016053,0.0
3,002120202,ATYR PHARMA INC,15378,100,ATYR PHARMA INC,3,2015-05-07,2024-12-31,2015-05-07,9,...,-1.214021,-2.683674,-2.943266,-5.641743,-8.877785,-8.692353,-3.194439,-4.345396,-3.860801,0.0
4,00288U106,ABCELLERA BIOLOGICS INC,20276,100,ABCELLERA BIOLOGICS INC,3,2020-12-11,2024-12-31,2020-12-11,4,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.140205,0.231900,0.302872,0.193929,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
862,N71546100,PROSENSA HOLDING NV,13968,450,PROSENSA HOLDING N V,3,2013-06-28,2015-02-11,2013-06-28,2,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
863,Q73622104,PARNELL PHARMACEUTICAL HLDGS,14706,570,PARNELL PHARMACEUTICALS HLDG LTD,3,2014-06-18,2016-12-30,2014-06-18,2,...,-0.815373,-1.259397,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
864,T9224W109,STEVANATO GROUP S P A,21694,100,STEVANATO GROUP S P A,1,2021-07-16,2024-12-31,2021-07-16,3,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.338345,0.379112,0.366983,0.0
865,Y1R80M106,CYTOMED THERAPEUTICS LIMITED,23858,100,CYTOMED THERAPEUTICS LTD,3,2023-04-14,2024-12-31,2023-04-14,1,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.999956,0.0
866,Y95308105,WAVE LIFE SCIENCES LTD,15857,100,W A V E LIFE SCIENCES LTD,3,2015-11-11,2024-12-31,2015-11-11,9,...,-0.194134,-0.541230,-1.065564,-1.167770,-1.903896,-2.452283,-3.891145,-6.636304,-3.718437,0.0

In [88]:
df_35_pivot.shape

(867, 87)